omni-player {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  cursor: default;
  line-height: normal;
  background-color: #19212f;
  z-index: 9999; }
  omni-player .player-controls {
    margin-top: 10px;
    position: relative;
    height: 50px;
    padding-left: 173px;
    padding-right: 53px; }
    omni-player .player-controls .player-controls-left {
      position: absolute;
      left: 0px;
      width: 193px;
      padding: 5px 0px; }
      omni-player .player-controls .player-controls-left .artwork {
        float: left;
        margin: -5px 13px 0px 0px; }
        omni-player .player-controls .player-controls-left .artwork img {
          width: 48px;
          height: 48px; }
      omni-player .player-controls .player-controls-left .player-button {
        float: left;
        min-width: 33px;
        min-height: 36px;
        margin-right: 2px;
        font-size: 26px;
        padding-top: 4px;
        margin-top: 4px;
        cursor: pointer; }
      omni-player .player-controls .player-controls-left .player-button:hover {
        color: #9C9B9B; }
    omni-player .player-controls .player-progress-bar {
      width: 100%;
      height: 100%;
      position: relative;
      -moz-opacity: 0.99;
      -khtml-opacity: 0.99;
      opacity: 0.99;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 30px;
      padding: 8px 20px;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
      overflow: hidden; }
      omni-player .player-controls .player-progress-bar .player-progress-bar-meter {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        background: rgba(200, 200, 200, 0.15);
        height: 100%;
        transition: width 1s linear;
        -webkit-opacity: 0.99;
        border-radius: 30px 0 0 30px; }
      omni-player .player-controls .player-progress-bar .track-details-container {
        width: 100%; }
        omni-player .player-controls .player-progress-bar .track-details-container .title-container {
          overflow: hidden; }
          omni-player .player-controls .player-progress-bar .track-details-container .title-container .title-artist {
            white-space: nowrap;
            color: #eee;
            font-size: 14px;
            line-height: 17px; }
            omni-player .player-controls .player-progress-bar .track-details-container .title-container .title-artist .title {
              font-weight: bold;
              margin-right: 5px; }
        omni-player .player-controls .player-progress-bar .track-details-container .track-metadata {
          color: #999;
          overflow: hidden; }
          omni-player .player-controls .player-progress-bar .track-details-container .track-metadata .album {
            white-space: nowrap;
            margin: 0 20px 20px 0;
            float: left;
            font-size: 13px;
            color: #ccc;
            font-style: italic; }
            omni-player .player-controls .player-progress-bar .track-details-container .track-metadata .album .label {
              display: inline;
              padding-left: 0px; }
            omni-player .player-controls .player-progress-bar .track-details-container .track-metadata .album .detail {
              color: #eee;
              padding-right: 10px; }
    omni-player .player-controls .player-controls-right {
      position: absolute;
      right: 0;
      top: 0; }
      omni-player .player-controls .player-controls-right .volume-controls-container .player-volume {
        float: left;
        width: 49px;
        height: 49px;
        text-align: left;
        text-indent: 6px;
        position: relative;
        font-size: 30px;
        cursor: pointer;
        padding: 12px 0;
        background-position: 14px 14px;
        z-index: 2; }
      omni-player .player-controls .player-controls-right .volume-controls-container .volume-container {
        position: absolute;
        bottom: 0px;
        width: 49px;
        height: 50px;
        overflow: hidden;
        border-radius: 0 0 30px 30px;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        transition: opacity 0.1s linear, height 0.14s linear;
        background: #464c57; }
        omni-player .player-controls .player-controls-right .volume-controls-container .volume-container .volume-range {
          position: absolute;
          width: 31px;
          height: 86px;
          bottom: 53px;
          left: 9px;
          top: auto;
          background: rgba(3, 3, 3, 0.5);
          cursor: pointer; }
          omni-player .player-controls .player-controls-right .volume-controls-container .volume-container .volume-range .volume-selector {
            position: absolute;
            width: 31px;
            height: auto;
            max-height: 100%;
            bottom: 0px;
            background-color: #ffffff; }
      omni-player .player-controls .player-controls-right .volume-controls-container .volume-container.open {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        height: 150px; }

header {
  color: #ffffff;
  background-color: rgba(43, 40, 41, 0.75);
  padding-bottom: 10px; }
  header .col-sm-2 {
    padding-left: 0px; }
  header .col-sm-5 {
    padding: 0px; }
  header h1 a, header h1 a:hover, header h1 a:focus {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0cm;
    border-bottom: 2px solid #ffffff;
    font-weight: bold;
    text-decoration: none; }
  header .social-icon {
    width: 30px;
    margin-right: 5px; }

posts {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  posts .post-control-tmpl, posts .post-control, posts .posts-container .post .artwork .player-control, posts .collapse-control-container .collapse-control {
    position: relative;
    border: 5px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer; }
  posts .post-control, posts .posts-container .post .artwork .player-control {
    top: 32%;
    left: 32%;
    font-size: 45px;
    text-indent: 6px;
    padding: 20px;
    border-radius: 50%;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
  posts .posts-container-collapsed {
    height: 0px;
    margin-top: 0px; }
  posts .posts-container-uncollapsed {
    height: 300px;
    margin-top: 4%; }
  posts .posts-container {
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: margin 0.8s ease-out, width 0.8s ease-out, height 0.8s ease-out;
    -moz-transition: margin 0.8s ease-out, width 0.8s ease-out, height 0.8s ease-out;
    -ms-transition: margin 0.8s ease-out, width 0.8s ease-out, height 0.8s ease-out;
    -o-transition: margin 0.8s ease-out, width 0.8s ease-out, height 0.8s ease-out;
    transition: margin 0.8s ease-out, width 0.8s ease-out, height 0.8s ease-out; }
    posts .posts-container .post {
      height: 270px;
      width: 270px;
      display: inline-block;
      margin-right: 15px;
      float: none; }
      posts .posts-container .post .artwork {
        height: 270px;
        width: 270px;
        position: relative;
        background-size: 100% 100%;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px; }
        posts .posts-container .post .artwork .player-control {
          width: 100px;
          height: 100px;
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0; }
        posts .posts-container .post .artwork .player-control:hover {
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1; }
        posts .posts-container .post .artwork .post-hover {
          -moz-opacity: 0.8;
          -khtml-opacity: 0.8;
          opacity: 0.8; }
  posts .glyphicon {
    float: left; }
  posts .collapse-control-container {
    margin: 0px auto;
    width: 60px; }
    posts .collapse-control-container .collapse-control {
      height: 35px;
      font-size: 22px;
      text-indent: 15px;
      padding: 0px;
      border-radius: 20%;
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8; }
  posts .collapse-control:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

about {
  color: #ffffff;
  font-size: 22px;
  text-align: justify; }
  about .col-sm-8 {
    background-color: rgba(43, 40, 41, 0.85);
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 90px;
    padding: 25px 35px; }
    about .col-sm-8 a, about .col-sm-8 header h1 a:hover, header h1 about .col-sm-8 a:hover, about .col-sm-8 header h1 a:focus, header h1 about .col-sm-8 a:focus {
      color: #33B745; }
    about .col-sm-8 a:hover {
      color: #11771D; }

@font-face {
  font-family: "UniversLTStd47LightCondensed";
  src: url("../fonts/universltstd-lightcn-webfont.svg"); }
body {
  font-family: "UniversLTStd47LightCondensed", Helvetica, Arial, sans-serif;
  height: 100%;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out; }

.default-bg {
  background: url("../imgs/gilmore-bg.jpg") 50% 50%; }

.animated-bg {
  background: url("http://49.media.tumblr.com/4100b1b8a89c0b90e97e9e6af224280e/tumblr_o3cgxqmL1n1uojhbvo8_500.gif"); }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
  margin-right: -4px; }

/*# sourceMappingURL=base.css.map */
