<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="player-controls">
                <div class="player-controls-left">
                    <div class="artwork">
                        <img src="assets/imgs/covers/{{ currentPlaying.artworkFileName }}">
                    </div>
                    <div class="player-button">
                        <span class="glyphicon glyphicon-play" ng-show="pausedPlayer" ng-click="playCurrentPlayingPost()"></span>
                        <span class="glyphicon glyphicon-pause" ng-show="!pausedPlayer" ng-click="playCurrentPlayingPost()"></span>
                    </div>
                    <div class="player-button">
                        <span class="glyphicon glyphicon-step-forward" ng-click="playEnded()"></span>
                    </div>
                    <div class="player-button">
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>
                <div class="player-progress-bar" ng-click="updatePlayProgress($event)">
                    <div class="player-progress-bar-meter" style="width: {{ playProgress }}%;"></div>
                    <div class="track-details-container">
                        <div class="title-container">
                            <div class="title-artist">
                    <span class="title">{{ currentPlaying.title }}
                    </span>
                    <span class="a">{{ currentPlaying.artist }}
                    </span>
                            </div>
                        </div>
                        <div class="track-metadata">
                            <div class="album">
                                <span class="label">Album:</span>
                                <span class="detail">{{ currentPlaying.album }}</span>
                                <span class="label">Year:</span>
                                <span class="detail">{{ currentPlaying.year }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player-controls-right">
                    <div class="volume-controls-container" ng-mouseleave="volumeHover = false">
                        <div class="player-volume" ng-mouseenter="volumeHover = true" ng-click="volumeHover = !volumeHover">
                            <span class="glyphicon glyphicon-volume-up"></span>
                        </div>
                        <div class="volume-container" ng-class="volumeHover? 'open' : ''">
                            <div class="volume-range" ng-click="updateVolumeHeight($event)">
                                <div class="volume-selector" style="height : {{ volumeHeight }}%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

