// _about.sass

about
  color: #ffffff
  font-size: 22px
  text-align: justify
  .col-sm-8
    background-color: rgba(43, 40, 41, 0.85)
    border-radius: 25px
    margin-top: 20px
    margin-bottom: $omni-player-height + 20px
    padding: 25px 35px
    a
      color: #33B745
    a:hover
      color: #11771D