<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="title-container col-sm-offset-5 col-sm-2">
                <h1>
                    <a href="javascript:void(0);" title="Return to the home page" ng-click="showPosts()">Omnimusic</a>
                </h1>
            </div>
            <div class="social-container col-sm-5">
                <a href="http://twitter.com/omnimusics" target="_blank">
                    <img class="social-icon" src="assets/imgs/twitter.png" title="Follow us on Twitter">
                </a>
                <a href="http://8tracks.com/omnimusic" target="_blank">
                    <img class="social-icon" src="assets/imgs/8tracks.png" title="Follow us on 8tracks">
                </a>
                <a href="http://last.fm/user/omnimusics" target="_blank">
                    <img class="social-icon" src="assets/imgs/last-fm.png" title="Add us on Last.fm">
                </a>
                <a href="javascript:void(0);">
                    <img class="social-icon" src="assets/imgs/about.png" title="About us" ng-click="showAbout()">
                </a>
            </div>
        </div>
    </div>
</div>